.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #54986f;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

.button:hover {
    background-color: #3b6c4f;
}

.QrWrapper {
    margin-top: 20px;
}

.qrCode {
    width: 200px;
    height: 200px;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .input {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }

    .qrCode {
        width: 150px;
        height: 150px;
    }
}